---
import { getCollection } from "astro:content";
import { format } from "date-fns";
import { fr } from "date-fns/locale";
import TTSPlayer from "../components/TTSPlayer.astro";
import AudioPlayer from "../components/AudioPlayer.astro";
import Layout from "../layouts/Layout.astro";
import ArticleFloatingNav from "../components/ArticleFloatingNav.astro";
import fs from 'node:fs';
import path from 'node:path';

const allNews = await getCollection("news");
const sortedNews = allNews.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
const latestPost = sortedNews[0];

let Content, formattedDate, readingTime, audioFileExists;

if (latestPost) {
  const rendered = await latestPost.render();
  Content = rendered.Content;

  formattedDate = format(latestPost.data.date, "EEEE d MMMM yyyy à HH:mm", {
    locale: fr,
  });

  const wordsPerMinute = 200;
  const words = latestPost.body.trim().split(/\s+/).length;
  readingTime = Math.ceil(words / wordsPerMinute);

  audioFileExists = fs.existsSync(path.join(process.cwd(), 'public', 'audio', `${latestPost.slug}.mp3`));
}
---

<Layout title="The HNPaper Daily">
  {
    latestPost ? (
      <>
        <article class="mx-auto max-w-3xl">
          <header
            class="mb-10 text-center"
          >
            <div
              class="flex flex-col items-center space-y-2 text-stone-600 font-sans text-sm uppercase tracking-widest pb-8"
            >
              <span class="text-2xl font-bold font-sans text-stone-600 uppercase tracking-wides" data-pagefind-meta="title">{formattedDate}</span>
            </div>
            <div class="border-t-4 border-b-4 border-double border-stone-300">
              <TTSPlayer
                title={latestPost.data.title}
                readingTime={readingTime}
                slug={latestPost.slug}
              />
            </div>
          </header>
          <div class="prose prose-stone prose-lg max-w-none mx-auto text-justify prose-headings:font-serif prose-headings:font-bold prose-headings:text-stone-900 prose-p:font-serif prose-p:text-stone-800 prose-a:text-stone-900 prose-a:underline prose-a:decoration-1 hover:prose-a:decoration-2 prose-a:font-normal prose-strong:text-base prose-blockquote:border-l-2 prose-blockquote:border-stone-900 prose-blockquote:pl-4 prose-blockquote:italic prose-blockquote:text-stone-700 prose-img:border prose-img:border-stone-900 prose-img:p-1">
            <Content />
          </div>
        </article>
      </>
    ) : (
      <div class="text-center py-20">
        <p>Aucune actualité disponible pour le moment.</p>
      </div>
    )
  }
  {latestPost && <ArticleFloatingNav />}
  {latestPost && audioFileExists && <AudioPlayer title={latestPost.data.title} slug={latestPost.slug} formattedDate={formattedDate} />}
</Layout>
